.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3vh;
  padding: 20px;
  background-color: rgb(250, 248, 248);
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: none;
  }
}
p {
  font-size: 15px;
}
